@keyframes slideUp {
    100% {
        margin: 10px;
    }
}

.card-item {
    box-shadow: 0 .5em 1em rgba(0,0,0,0.25);
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 300px;
    float: left;
    margin: 100% 10px 10px 10px;
    border-radius: 0.3rem;
    display: flex;
    flex-flow: row nowrap;
    overflow: hidden;
    animation: slideUp 1.2s forwards;
}

.card-title {
    height: 40px;
    font-size: 1.7rem;
    font-weight: 100;
    padding: .7rem 0 0 .7rem;
}

.card-description {
    font-size: 0.9rem;
    font-weight: 300;
}

.card-header {
    cursor: default; 
    align-self: flex-end;
    width: 100%;
    height: 200px;
    color: white;
    position: relative;
    background-color: rgba(0,0,0, 0.8);
    transform: translateY(160px) translateZ(0);
    transition: transform 0.5s;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card-title:hover {
    transform: translateY(10px) translateZ(0);
}

.card-buttons {
    /* margin-top: 20px; */
    width: 90%;
    margin-top: 10px;
}

.card-button {
    cursor: pointer;
    border: 1px solid white;
    border-radius: 0.2rem;
    padding: 8px;
    margin: 5px 5px 5px 0;
    float: left;
    font-weight: 300;
    transition: background-color .5s, color .5s;
}

.card-button:hover {
    background-color: white;
    color: black;
}

.card-tag {
    font-size: 0.7rem;
    max-height: 15px;
    border: 1px solid white; 
    padding: 5px;
    margin-right: 7px;
    border-radius: 0.3rem;
}

.technologies {
    display: flex;
    align-items: flex-start;
}

/* 4K! */
/* @media screen and (min-width: 1450px) {
    .card-item {
        height: 500px;
        width: 600px;
    }
} */

@media screen and (max-width: 768px) {
    .card-item {
        height: 210px;
        width: 270px;
    }

    .card-header {
        height: 270px;
        transform: translateY(230px) translateZ(0);
    }

    .card-title:hover {
        transform: translateY(70px) translateZ(0);
    }

    .card-description {
        padding-top: .7rem;
    }
}

@media screen and (max-width: 425px) {
    .card-item {
        height: 210px;
        width: 90%;
    }
}