.card-item {
    height: 200px;
    width: 300px;
    float: left;
    margin: 10px 0 10px 10px;
    border-radius: 0.3rem;
    background-color: rgba(0,0,0,0.4); 
    box-shadow: 0 .5em 1em rgba(0,0,0,0.25);
    color: white;
    cursor: default; 
    border: 1.2px solid transparent;
    overflow: hidden;
    margin-top: 0 !important;
}

.card-item:hover {
    border: 1.2px solid #FF8742;
    transform: scale(1.015);
}

.card-title {
    font-size: 2rem;
    margin: 5px 0 0 7px;
    font-family: 'raleway-light';
}

.card-divider {
    border: 0.5px solid white;
    margin: 10px 60px 0 7px;
}

.card-description {
    padding: 7px;
    font-size: 0.9rem;
    font-family: 'raleway-thin';
}

.view-demo {

}

.view-source {

}

.button {
    padding: 2px 5px 0 5px;
    text-align: center;
    float: right; 
    margin: 5px;
    min-width: 75px;
    height: 25px;
    background-color: rgb(14, 144, 219); 
    border: 1px solid white; 
    color: white; 
    font-family: 'raleway-thin';
}

@media screen and (min-width: 1450px) {
    .card-item {
        height: 500px;
        width: 600px;
    }
}