/* Menu categories styles */
.menu-option {
    cursor: default;
    padding: 5px 0 5px 1rem;
    margin: 0 -1rem 0 -1rem;
    font-weight: 200;
    font-size: 1.3rem;
    color: white;
}

.menu-option:hover {
    overflow: hidden;
    animation: on-option-hover 0.5s forwards;
    cursor: pointer;
}

@keyframes on-option-hover {
    to {
        color: #00EDED;
        padding-left: 1.7rem;
    }
}

@media screen and (max-width: 768px) {
    .menu-option {
        padding: 0 2rem 0 2rem;
        font-size: 1.5rem;
    }

    .option-mobile-divider {
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        border-radius: .3rem;
        margin: 0 85% 0 0;
    }
}

@media screen 
    and (min-width: 1440px) {

    .menu-option {
        font-size: 1.5rem;
        height: 70px;
    }
}

/* Menu button styles and dropdown menu style */
.dropdown-menu {
    display: none;
}

@media screen and (max-width: 768px) {
    .menu-button {
        cursor: pointer;
        position: absolute;
        border: 1px solid white;
        border-radius: 0.3rem;
        height: 30px;
        display: flex;
        align-items: center;
        padding: 0 13px 0 13px;
    }

    .menu-dot {
        width: 2px;
        height: 2px;
        border: 1px solid white;
        border-radius: 100%;
        background-color: white;
        margin: 0 2px 0 2px;
    }

    .dropdown-menu {
        height: 100vh;
        width: 100vw;
        display: block;
        background: linear-gradient(to bottom, rgba(0,0,0,0.8) 25%,rgba(0,0,0,0.4));
    }
}