.sidebar-options-contact-container {
    display: flex;
    align-items: center;
    padding: 0 25px 0 25px;
    justify-content: space-around;
    height: 20%;
}

/* Used for feather icons */
.feather-icon {
    padding: 0.7rem;
    transition: color 1s; 
    color: white; 
}

/* Used for feather icons */
.feather-linkedin:hover {
    color: #0077B5;
}

/* Used for feather icons */
.feather-github:hover {
    color: #6E5494;
}

/* Used for feather icons */
.feather-twitter:hover {
    color: #00ACED;
}

/* Used for feather icons */
.feather-bookmark:hover {
    color: #1AA77D;
}

/* Tablets */
@media screen 
    and (min-width: 425px)
    and (max-width: 768px) {

    .sidebar-options-contact-container {
        padding: 0 12rem 0 12rem;
    }
}

/* 4K's! */
/* @media screen 
    and (min-width: 1440px) {

    .sidebar-option-contact-item {
        transform: scale(2.5);
    }
} */