.sidebar-style {
    background-color: rgba(0,0,0,0.4);
    height: 100%;
    padding: 0 1rem 0 1rem;
    margin-top: -100%; 
}

.sidebar-split {
    border: 0.5px solid white; 
    margin: 0 80px 0 80px;
}

@media screen and (max-width: 768px) {
    .sidebar-style {
        width: 100vw;
        margin: 0 -1rem 0 -1rem;
        background-color: rgba(0,0,0,0); /* Let parent container set dynamic style. See App.js/app-view-container elem */
    }
}

@keyframes slideDownSidebar {
    100% {
        margin-top: 0;
    }
}

@media screen and (min-width: 775px) {
    .sidebar-style {
        animation: slideDownSidebar 1.4s forwards;
    }
}

@media screen 
    and (min-width: 426px)
    and (max-width: 768px) {

    .sidebar-split {
        margin: 0 170px 0 170px;
    }
}