.sidebar-style {
    background-color: rgba(0,0,0,0.4);
    height: 100%;
    padding: 0 1rem 0 1rem;
}

.sidebar-split {
    border: 0.5px solid white; 
    margin: 0 80px 0 80px;
}

.menu-container {
    height: 100%;
}

@media screen and (max-width: 768px) {
    .sidebar-style {
        width: 100vw;
        padding: 0;        /* If parent container used */
        margin: 0 -1rem 0 -1rem;
    }

    .menu-container {
        padding: 0 1rem 0 1rem;
        height: 100%;
        transition: transform .5s;
    }
}

@media screen and (min-width: 775px) {
    .sidebar-style {
        animation: slideInLeft 0.8s;
    }
}

@media screen 
    and (min-width: 426px)
    and (max-width: 768px) {

    .sidebar-split {
        margin: 0 170px 0 170px;
    }
}