.app-layout {
    background-image: url('/images/background_2.jpg');
    background-size: cover;
    height: 100vh;
    overflow: hidden;         /* If parent container used, disable this */
    display: flex;
}

.sidebar-and-view {
    display: flex;
}

@media screen and (max-width: 768px) {
    
    .app-layout {
        flex-flow: row wrap;
    }

    .app-mobile-navbar {
        height: 6%;
        width: 100%;
        background-color: rgba(0,0,0, 0.8);
    }
}
