.app-layout {
    background-image: url('/images/background.jpg');
    background-size: cover;
    height: 100vh;
    overflow: hidden; 
    display: flex;
}

.sidebar-and-view {
    display: flex;
    height: 100%;
}

.app-container {
    height: 100%;
    width: 100%; 
}

.app-view-container {
    height: 100%;
}

@media screen and (max-width: 768px) {
    
    .app-layout {
        flex-flow: row wrap;
    }

    .app-mobile-navbar {
        height: 50px;
        display: flex;
        align-items: center;
        padding-left: 10px;
    }
    
    .app-container {
        transition: transform .5s;
    }
}
