.mainview-container-style {
    height: 100%;
    width: 80%;
    color: white;
    padding: 20px;
}

@media screen and (max-width: 768px) {
    .mainview-container-style {
        display: none;
    }
}