.app-layout {
    background-image: url('/images/background_2.jpg');
    background-size: cover;
    height: 100vh;
    overflow: hidden;         /* If parent container used, disable this */
    display: flex;
    flex-flow: row nowrap;
}

.sidebar-and-view {
    display: flex;
}